{% extends 'layouts/page.njk' %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if successMessage %}
        {{ govukNotificationBanner({
          type: "success",
          html: "<p class=\"govuk-body\">" + successMessage + "</p>"
        }) }}
      {% endif %}

      {% if errorMessage %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{ text: errorMessage }]
        }) }}
      {% endif %}

      <form method="post" action="/logs">
        {{ govukInput({
          id: "size",
          name: "size",
          label: { text: "Message size in KB" },
          classes: "govuk-input--width-5",
          type: "number",
          attributes: { min: "1", max: "1024" },
          value: formValues.size
        }) }}

        {{ govukInput({
          id: "fill",
          name: "fill",
          label: { text: "Message fill character" },
          classes: "govuk-input--width-2",
          attributes: { maxlength: "1" },
          value: formValues.fill
        }) }}

        {{ govukInput({
          id: "count",
          name: "count",
          label: { text: "How many messages" },
          classes: "govuk-input--width-5",
          type: "number",
          attributes: { min: "1", max: "1000" },
          value: formValues.count
        }) }}

        {{ govukRadios({
          name: "type",
          fieldset: {
            legend: { text: "Message type" }
          },
          items: [
            {
              value: "log",
              text: "Log",
              checked: formValues.type == "log"
            },
            {
              value: "audit",
              text: "Audit",
              checked: formValues.type == "audit"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Generate messages"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
