.app-code-block {
  max-height: 400px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: anywhere;

  &--bordered {
    border: 1px solid #b1b4b6;
    padding: 10px;
  }
}
