{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <pre>
        Requested with token.
      </pre>
      <pre>
        Response: {{ token }}
      </pre>
    </div>
  </div>
{% endblock %}
