{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table" data-module="status-dashboard">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Service</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Operations</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Frontend to backend</th>
            <td class="govuk-table__cell" data-check-status="backend">
              <span class="govuk-hint">Checking&hellip;</span>
            </td>
            <td class="govuk-table__cell" data-check-ops="backend"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">MongoDB</th>
            <td class="govuk-table__cell" data-check-status="mongo">
              <span class="govuk-hint">Checking&hellip;</span>
            </td>
            <td class="govuk-table__cell" data-check-ops="mongo"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Redis</th>
            <td class="govuk-table__cell" data-check-status="redis">
              <span class="govuk-hint">Checking&hellip;</span>
            </td>
            <td class="govuk-table__cell" data-check-ops="redis"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Squid proxy</th>
            <td class="govuk-table__cell" data-check-status="squid">
              <span class="govuk-hint">Checking&hellip;</span>
            </td>
            <td class="govuk-table__cell" data-check-ops="squid"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">S3</th>
            <td class="govuk-table__cell" data-check-status="s3">
              <span class="govuk-hint">Checking&hellip;</span>
            </td>
            <td class="govuk-table__cell" data-check-ops="s3"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">SQS</th>
            <td class="govuk-table__cell" data-check-status="sqs">
              <span class="govuk-hint">Checking&hellip;</span>
            </td>
            <td class="govuk-table__cell" data-check-ops="sqs"></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">SNS</th>
            <td class="govuk-table__cell" data-check-status="sns">
              <span class="govuk-hint">Checking&hellip;</span>
            </td>
            <td class="govuk-table__cell" data-check-ops="sns"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

